<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.menu {
	background-color: #627aad;
}
.menubar {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #627aad;
	color: #ffffff;
}
a.menubarlink:link { color: #ffffff; text-decoration: none; background-image:url('img/1.png');background-repeat:no-repeat;background-position:rigth;}
a.menubarlink:active { color: #ffffff; text-decoration: none;background-image:url('img/2.gif');background-repeat:no-repeat;background-position:rigth;}
a.menubarlink:visited { color: #ffffff; text-decoration: none;  background-image:url('img/1.png');background-repeat:no-repeat;background-position:rigth;}
a.menubarlink:hover { color: BLACK;background-image:url('img/2.gif');background-repeat:no-repeat;background-position:rigth;}

.logintitlebar {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #203360;
	color: #ffffff;
}
.loginsubtitlebar {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #627aad;
	color: #ffffff;
	vertical-align: middle;
}
.loginsubtitlebarmain {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #627aad;
	color: #ffffff;
	vertical-align: middle;
}
.titlebaruser {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
}
.logindate {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
	float: right;
}
.loginsubtitlecontent {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #ffffff;
	color: #000000;
}
.loginerrorsubtitlebar {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #ff0000;
	color: #ffffff;
}
.chatnotify {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
}
.maintext {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
.chatnotifytitle {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #203360;
	color: #ffffff;
}
.chatnotify {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #203360;
	color: #FFFF00;
}
a.chatnotify:link { color: #ffff00; text-decoration: none; }
a.chatnotify:active { color: #ffff00; text-decoration: none; }
a.chatnotify:visited { color: #ffff00; text-decoration: none;  }
a.chatnotify:hover { color: #ffff00; text-decoration: underline; }
.forumsubtopic {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #d8dfea;
	color: #000000;
}
.forumsubtopicheader {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #d8dfea;
	color: #000000;
}
.projectdone {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #0000ff;
	color: #ffffff;
}
a.projectdone:link { color: #ffffff; text-decoration: none; }
a.projectdone:active { color: #ffffff; text-decoration: none; }
a.projectdone:visited { color: #ffffff; text-decoration: none;  }
a.projectdone:hover { color: #ffffff; text-decoration: underline; }
.projectdonenear {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #00ccff;
	color: #ffffff;
	border-color: #999999;
}
a.projectdonenear:link { color: #ffffff; text-decoration: none; }
a.projectdonenear:active { color: #ffffff; text-decoration: none; }
a.projectdonenear:visited { color: #ffffff; text-decoration: none;  }
a.projectdonenear:hover { color: #ffffff; text-decoration: underline; }
.dialogbox {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #f7f7f7;
	color: #666666;
}
.dialogboxbuttons {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #3b5998;
	color: #ffffff;
}


-->